.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-form {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.react-form label span {
  margin-right: 1em;
  width: 8em;
  display: inline-block;
  text-align: right;
}
.react-form label span:after {
  content: ":";
}
.react-form label {
  display: block;
}
